<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rediģēt grāmatu</title>
</head>

<body>
<div class="container marketing">
    <header th:insert="blocks/header :: header"></header>
    <br>
    <div class="container mt-5 mb-5">
        <h1>Rediģēt grāmatu</h1>
        <hr class="featurette-divider">
        <div th:each="element : ${book}">
        <form method="post">
            <h3>Nosukums:</h3>
            <textarea name="title" placeholder="Ievadiet grāmatas nosaukumu" class="form-control" th:text="${element.title}"></textarea><br>
            <h3>Izdevējs:</h3>
            <input type="text" th:value="${element.publisher}" name="publisher" placeholder="Ievadiet grāmatas izdevēju" class="form-control"><br>
            <h3>Gads:</h3>
            <input type="text" th:value="${element.year}" name="year" placeholder="Ievadiet grāmatas izdošanas gadu" class="form-control"><br>
            <h3>Autors:</h3>
            <input type="text" th:value="${element.authors}" name="author" placeholder="Ievadiet grāmatas autoru" class="form-control"><br>
            <br>
            <button type="submit" class="btn btn-outline-success">Izlabot</button>
        </form>
        </div>
        <hr class="featurette-divider">
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>