<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reģistrēt grāmatu</title>
</head>

<body>
<div class="container marketing">
<header th:insert="blocks/header :: header"></header>
    <br>
    <div class="container mt-5 mb-5">
        <h1>Reģistrēt grāmatu</h1>
        <hr class="featurette-divider">
        <form action="#" th:action="@{/book/register}" th:object="${book}" method="post">
            <h3>Nosaukums:</h3>
            <textarea name="title" placeholder="Ievadiet grāmatas nosaukumu" class="form-control"></textarea>
            <span class="validationError" style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>
            <h3>Izdevējs:</h3>
            <input type="text" name="publisher" th:field="*{publisher}" placeholder="Ievadiet grāmatas izdevēju" class="form-control">
            <span class="validationError" style="color:red" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span><br>
            <h3>Gads:
            </h3><input type="text" name="year" th:field="*{year}" placeholder="Ievadiet grāmatas izdošanas gadu" class="form-control">
            <span class="validationError" style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span><br>
            <h3>Autors:</h3>
            <input type="text" name="author" th:field="*{authorId}" placeholder="Ievadiet grāmatas autoru" class="form-control">
            <span class="validationError" style="color:red" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></span><br>
            <br>
            <button type="submit" class="btn btn-outline-success btn-lg">Pievienot grāmatu datubazē</button>
            </form>

    <hr class="featurette-divider">
    </div>
</div>

    <footer th:insert="blocks/footer :: footer"></footer>
    </body>
    </html>