<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Meklēt grāmatas</title>
</head>

<body>
<div class="container marketing">
<header th:insert="blocks/header :: header"></header>
    <br>
<div class="container mt-5">
    <h1>Meklēt grāmatu</h1>
    <hr class="featurette-divider">
    <form th:action="@{/book/search/byAuthor}" method="get">
        <div class="form-group">
            <input id="Search" type="text" name="authorId" class="form-control" placeholder="Meklēt pēc autoriem">
            <small id="searchHelp" class="form-text text-muted">Ievadiet grāmatas autoru</small>
        </div>
        <button type="submit" class="btn btn-outline-info btn-lg">Meklēt</button>
    </form>
    <div class="container mt-5">
        <h1>Visas grāmatas</h1>
        <div th:each="element : ${book}" class="alert alert-info mt-2">
            <p>Grāmatas nosaukums:</p>
            <h3 th:text="${element.title}"></h3>
            <p>Grāmatas izdošanas gads:</p>
            <h3 th:text="${element.year}"></h3>
            <p>Grāmatas izdevējs:</p>
            <h3 th:text="${element.publisher}"></h3>
            <p>Grāmatas autors:</p>
            <h3 th:text="${element.authors}"></h3>
            <br>
            <a th:href="'/book/' + ${element.id}" class="btn btn-outline-secondary">Skatīt vairāk</a>
        </div>
    </div>
<hr class="featurette-divider">
</div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>