<!DOCTYPE html>
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">

    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </head>

    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/book/show">Meklēt grāmatas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/book/register">Reģistrēt grāmatu<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="flipkart-navbar-search mr-auto">
                <div class="row">
                    <form th:action="@{/book/search}" method="get">
                        <button type="submit" class="flipkart-navbar-button">Meklēt</button>
                        <input id="txtSearch" type="text" name="keyword" class="flipkart-navbar-input" placeholder="Meklēt pēc metadatiem">

                    </form>
                </div>
            </div>
        </div>
    </nav>
    </body>
</div>